body {
  color: brown;
  background: beige;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

header {
    border-bottom: solid 2px brown;
    padding: 20px;
    font-size: 45px;
    color: brown;
}

section {
   background: beige;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
 
h1 {
  font-size: 40px;
}

p {
  font-size:20px;
}
